@font-face {
  font-family: 'minecraft';
  src: url('../assets/fonts/minecraft-font.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Open Sans', sans-serif;
}

.font-title {
  font-family: 'minecraft';
  color: #ffffff;
  text-shadow: 2px 2px 5px #000000;
}


body {
  display: grid;
  grid-template-columns: 20vw 1fr;
  min-height: 100vh;
}

aside {
  background: #1E1E1E;
  height: 100%;

  padding: 0.75rem 1rem;

  position: relative;
}

.player {
  display: flex;
  align-items: center;
  gap: 1rem;

  img {
    width: 40px;
  }

}

.player_info {
  display: flex;
  flex-direction: column;
  font-size: 0.95rem;
  color: #ffffff;
}

.player_name {
  font-weight: 600;
}

.player_email {
  opacity: .5;
}

#circle {
  width: 50px;
  height: 50px;
  border-radius: 99px;
  background: #008000;
}

#rectangle {
  width: 60px;
  height: 40px;
  background: #008000;
}

.square_icon {
  width: 50px;
}

.app_navigation {
  margin-top: 2rem;
}

.app_navigation ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: .875rem;
    font-size: 1.25rem;

    width: 60%;

    img {
      max-width: 50px;
    }

    a {
      color: #ffffff;
      text-decoration: none;
      font-weight: 500;
    }
  }
}

.settings_link {
  display: flex;
  align-items: center;
  gap: 13px;
  position: absolute;
  bottom: 1rem;

  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
}

main {
  background: #282828;

  display: flex;
  flex-direction: column;


  .content_main {
    flex: 1;
  }
}

header {
  padding: 1.25rem;
  border-bottom: 1px solid #000000a5;

  h1 {
    text-align: center;
  }

}

header .header_actions {
  margin-top: 2rem;

  button {
    background: transparent;
    outline: 0;
    border: 0;

    font-size: 1.25rem;
    cursor: pointer;
    color: #ffffff;
    font-weight: 300;
    opacity: .5;

    margin-right: 4rem;
  }
}

main header .header_actions button.active {
  font-weight: 600;
  opacity: 1;
}

footer {
  height: 55px;

  position: relative;
  border-top: 1px solid #000000a5;
}

.play_button {
  width: 240px;
  background: #088641;

  position: absolute;
  top: -10px;
  left: 50%;

  transform: translateX(-50%);
  cursor: pointer;

  border: 0;
  outline: 0;
}

.play_button .play_button_text {
  isolation: isolate;
  padding: 0.75rem;
  background: #128947;
  outline: 1px solid #000000;

  position: relative;
  font-size: 1.125rem;
  text-shadow: 2px 2px 3px #000000;
  display: block;
  line-height: 100%;
  transition: scale 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.play_button:has(:hover, :focus) .play_button_text {
  scale: 1.05;
}

.play_button:active .play_button_text {
  scale: 1;
}

@media screen and (max-width: 1150px) {
  .player_info {
    font-size: 0.85rem;
  }

  .settings_link {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 1100px) {
  .app_navigation ul li {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 990px) {
  header h1 {
    font-size: 1.5rem;
  }

  header .header_actions button {
    font-size: 1rem;
  }
}